.con {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 158px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items p {
  text-align: center;
}

.dialogItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dialogItems p:first-child {
  padding-right: 1rem;
}
.dialogItems p:last-child {
  padding-left: 1rem;
}

.dialogTitle {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1200px) {
  .con {
    padding: 32px 64px;
  }
}

@media (max-width: 800px) {
  .con {
    padding: 32px 32px;
  }
}

@media (max-width: 400px) {
  .con {
    padding: 16px 16px;
  }
}
