.dialogItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dialogItems > p:first-child {
  padding-right: 1rem;
}
.dialogItems > p:last-child {
  padding-left: 1rem;
}

.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.classTimesList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
