.con {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 158px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.main:last-child {
  margin-top: 0;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.items p {
  text-align: center;
}

@media (max-width: 1200px) {
  .con {
    padding: 32px 64px;
  }
}

@media (max-width: 800px) {
  .con {
    padding: 32px 32px;
  }
}

@media (max-width: 400px) {
  .con {
    padding: 16px 16px;
  }
}
