.con {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px;
  justify-content: space-between;
}

.con p {
  display: flex;
  align-items: center;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.topText {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
