.con {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 15px;
  justify-content: space-between;
}

.con p {
  display: flex;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.dialogItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dialogItems p:first-child {
  padding-right: 1rem;
}
.dialogItems p:last-child {
  padding-left: 1rem;
}

.dialogTitle {
  display: flex;
  justify-content: flex-end;
}
