.formHolder {
  display: flex;
  justify-content: space-around;
}

.formHolder {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

.formHolderRight > *,
.formHolderLeft > * {
  margin-bottom: 1rem;
}

.buttonCon {
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .formHolder {
    flex-direction: column;
  }
}
