.con {
  padding: 32px 158px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
  align-items: center;
}

.main {
  margin: 2rem 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main > div {
  margin-bottom: 1.2rem;
  width: 100%;
}

.head {
  width: 100%;
}

.datePickerCon {
  width: 100%;
  font-family: Vazirmatn;
  margin-bottom: 1rem;
}

.datePickerInput {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 1rem 0.5rem;
  background-color: transparent;
  width: 100%;
  display: flex;
}

.datePickerInputLight {
  color: black;
}
.datePickerInputDark {
  color: white;
}

.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialogOpener {
  border: 1px solid gray;
  padding: 0.7rem;
  opacity: 0.8;
  cursor: pointer;
}
.dialogOpener:hover {
  opacity: 1;
}

.dialogListItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dialogListItemName {
  display: flex;
}

.fileInputCon {
  position: relative;
}

.fileInput {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 2;
}

@media (max-width: 1200px) {
  .con {
    padding: 32px 64px;
  }
}

@media (max-width: 800px) {
  .main {
    width: 80%;
  }
  .con {
    padding: 32px 32px;
  }
}

@media (max-width: 500px) {
  .main {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .con {
    padding: 16px 16px;
  }
}
