.con {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 158px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 500px;
}
.items > * {
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .con {
    padding: 32px 64px;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: auto auto;
    justify-content: space-around;
    row-gap: 2rem;
  }
}

@media (max-width: 800px) {
  .con {
    padding: 32px 32px;
  }
  .items {
    grid-template-columns: auto auto;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .main {
    grid-template-columns: auto;
    justify-content: center;
  }
  .items {
    grid-template-columns: auto;
  }
}
@media (max-width: 400px) {
  .con {
    padding: 16px 16px;
  }
}
