.formHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formHolder > * {
  margin: 0 1rem;
}
.chooseClassTimesCon {
  width: 100%;
}

.chooseClassTimesSelect {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.chooseClassTimesSelect > * {
  width: 100%;
}

.datePickerCon {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.datePickerInputLight {
  border-radius: 2px;
  padding: 1rem 0.5rem;
  background-color: transparent;
  width: 100%;
  color: black;
  border: 1px solid gray;
  font-family: Vazirmatn;
}
.datePickerInputDark {
  border-radius: 2px;
  padding: 0.8rem 0.5rem;
  background-color: transparent;
  width: 100%;
  color: white;
  border: 1px solid gray;
  font-family: Vazirmatn;
  font-size: 1rem;
  direction: ltr;
}

.datePickerInputDark::placeholder {
  color: #ffffff99;
}

@media (max-width: 800px) {
  .formHolder {
    flex-direction: column;
  }
  .formHolder > * {
    margin-bottom: 1rem;
    width: 100%;
  }
}
